.idea/
.vscode/

.DS_Store

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Mac system files
.DS_Store

# Ignore package info
*.egg-info/


*.ipynb

api_key.py

generated_images/

generated_poems/

generated_music/

./UI/.env*.local
.env

chroma_db/

dist/
/dist/
dist