name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install hatch
      - name: Build package
        run: hatch build
      - name: Clear GZ
        run: |
          rm -rf dist/pyopenagi-${{ github.ref_name.replace('refs/tags/v', '') }}.tar.gz
      - name: Test package
        run: hatch run test
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
